mtrx_hazi_2/obj/Debug/netcoreapp2.0/mtrx_hazi_2.pdb
cshrp-gyak/cshrp-gyak.csproj
cshrp-gyak/.vscode/launch.json
cshrp-gyak/.vscode/tasks.json
cshrp-gyak/bin/Debug/netcoreapp2.0/cshrp-gyak.dll
cshrp-gyak/bin/Debug/netcoreapp2.0/cshrp-gyak.pdb
cshrp-gyak/bin/Debug/netcoreapp2.0/cshrp-gyak.deps.json
cshrp-gyak/bin/Debug/netcoreapp2.0/cshrp-gyak.runtimeconfig.json
cshrp-gyak/bin/Debug/netcoreapp2.0/cshrp-gyak.runtimeconfig.dev.json
cshrp-gyak/obj/cshrp-gyak.csproj.nuget.cache
cshrp-gyak/obj/cshrp-gyak.csproj.nuget.g.props
cshrp-gyak/obj/cshrp-gyak.csproj.nuget.g.targets
cshrp-gyak/obj/project.assets.json
cshrp-gyak/obj/Debug/netcoreapp2.0/cshrp-gyak.dll
cshrp-gyak/obj/Debug/netcoreapp2.0/cshrp-gyak.pdb
cshrp-gyak/obj/Debug/netcoreapp2.0/cshrp-gyak.AssemblyInfo.cs
cshrp-gyak/obj/Debug/netcoreapp2.0/cshrp-gyak.AssemblyInfoInputs.cache
cshrp-gyak/obj/Debug/netcoreapp2.0/cshrp-gyak.csproj.CoreCompileInputs.cache
cshrp-gyak/obj/Debug/netcoreapp2.0/cshrp-gyak.csproj.FileListAbsolute.txt
cshrp-gyak2/cshrp-gyak2.csproj
cshrp-gyak2/.vscode/launch.json
cshrp-gyak2/.vscode/tasks.json
cshrp-gyak2/bin/Debug/netcoreapp2.0/cshrp-gyak2.dll
cshrp-gyak2/bin/Debug/netcoreapp2.0/cshrp-gyak2.pdb
cshrp-gyak2/bin/Debug/netcoreapp2.0/cshrp-gyak2.deps.json
cshrp-gyak2/bin/Debug/netcoreapp2.0/cshrp-gyak2.runtimeconfig.json
cshrp-gyak2/bin/Debug/netcoreapp2.0/cshrp-gyak2.runtimeconfig.dev.json
cshrp-gyak2/obj/cshrp-gyak2.csproj.nuget.cache
cshrp-gyak2/obj/cshrp-gyak2.csproj.nuget.g.props
cshrp-gyak2/obj/cshrp-gyak2.csproj.nuget.g.targets
cshrp-gyak2/obj/project.assets.json
cshrp-gyak2/obj/Debug/netcoreapp2.0/cshrp-gyak2.dll
cshrp-gyak2/obj/Debug/netcoreapp2.0/cshrp-gyak2.pdb
cshrp-gyak2/obj/Debug/netcoreapp2.0/cshrp-gyak2.AssemblyInfo.cs
cshrp-gyak2/obj/Debug/netcoreapp2.0/cshrp-gyak2.AssemblyInfoInputs.cache
cshrp-gyak2/obj/Debug/netcoreapp2.0/cshrp-gyak2.csproj.CoreCompileInputs.cache
cshrp-gyak2/obj/Debug/netcoreapp2.0/cshrp-gyak2.csproj.FileListAbsolute.txt
filekezeles/jan27.csproj
filekezeles/kimenet.txt
filekezeles/.vscode/launch.json
filekezeles/.vscode/tasks.json
filekezeles/bin/Debug/bemenet.txt
filekezeles/bin/Debug/netcoreapp2.0/jan27.dll
filekezeles/bin/Debug/netcoreapp2.0/jan27.pdb
filekezeles/bin/Debug/netcoreapp2.0/jan27.deps.json
filekezeles/bin/Debug/netcoreapp2.0/jan27.runtimeconfig.json
filekezeles/bin/Debug/netcoreapp2.0/jan27.runtimeconfig.dev.json
filekezeles/obj/jan27.csproj.nuget.cache
filekezeles/obj/jan27.csproj.nuget.g.props
filekezeles/obj/jan27.csproj.nuget.g.targets
filekezeles/obj/project.assets.json
filekezeles/obj/Debug/netcoreapp2.0/jan27.dll
filekezeles/obj/Debug/netcoreapp2.0/jan27.pdb
filekezeles/obj/Debug/netcoreapp2.0/jan27.AssemblyInfo.cs
filekezeles/obj/Debug/netcoreapp2.0/jan27.AssemblyInfoInputs.cache
filekezeles/obj/Debug/netcoreapp2.0/jan27.csproj.CoreCompileInputs.cache
filekezeles/obj/Debug/netcoreapp2.0/jan27.csproj.FileListAbsolute.txt
matrixok/matrixok.csproj
matrixok/.vscode/launch.json
matrixok/.vscode/tasks.json
matrixok/bin/Debug/netcoreapp2.0/matrixok.dll
matrixok/bin/Debug/netcoreapp2.0/matrixok.pdb
matrixok/bin/Debug/netcoreapp2.0/matrixok.deps.json
matrixok/bin/Debug/netcoreapp2.0/matrixok.runtimeconfig.json
matrixok/bin/Debug/netcoreapp2.0/matrixok.runtimeconfig.dev.json
matrixok/obj/matrixok.csproj.nuget.cache
matrixok/obj/matrixok.csproj.nuget.g.props
matrixok/obj/matrixok.csproj.nuget.g.targets
matrixok/obj/project.assets.json
matrixok/obj/Debug/netcoreapp2.0/matrixok.dll
matrixok/obj/Debug/netcoreapp2.0/matrixok.pdb
matrixok/obj/Debug/netcoreapp2.0/matrixok.AssemblyInfo.cs
matrixok/obj/Debug/netcoreapp2.0/matrixok.AssemblyInfoInputs.cache
matrixok/obj/Debug/netcoreapp2.0/matrixok.csproj.CoreCompileInputs.cache
matrixok/obj/Debug/netcoreapp2.0/matrixok.csproj.FileListAbsolute.txt
mtrx_hazi_1/mtrx_hazi_1.csproj
mtrx_hazi_1/.vscode/launch.json
mtrx_hazi_1/.vscode/tasks.json
mtrx_hazi_1/bin/Debug/netcoreapp2.0/mtrx_hazi_1.dll
mtrx_hazi_1/bin/Debug/netcoreapp2.0/mtrx_hazi_1.pdb
mtrx_hazi_1/bin/Debug/netcoreapp2.0/mtrx_hazi_1.deps.json
mtrx_hazi_1/bin/Debug/netcoreapp2.0/mtrx_hazi_1.runtimeconfig.json
mtrx_hazi_1/bin/Debug/netcoreapp2.0/mtrx_hazi_1.runtimeconfig.dev.json
mtrx_hazi_1/obj/mtrx_hazi_1.csproj.nuget.cache
mtrx_hazi_1/obj/mtrx_hazi_1.csproj.nuget.g.props
mtrx_hazi_1/obj/mtrx_hazi_1.csproj.nuget.g.targets
mtrx_hazi_1/obj/project.assets.json
mtrx_hazi_1/obj/Debug/netcoreapp2.0/mtrx_hazi_1.dll
mtrx_hazi_1/obj/Debug/netcoreapp2.0/mtrx_hazi_1.pdb
mtrx_hazi_1/obj/Debug/netcoreapp2.0/mtrx_hazi_1.AssemblyInfo.cs
mtrx_hazi_1/obj/Debug/netcoreapp2.0/mtrx_hazi_1.AssemblyInfoInputs.cache
mtrx_hazi_1/obj/Debug/netcoreapp2.0/mtrx_hazi_1.csproj.CoreCompileInputs.cache
mtrx_hazi_1/obj/Debug/netcoreapp2.0/mtrx_hazi_1.csproj.FileListAbsolute.txt
mtrx_hazi_2/mtrx_hazi_2.csproj
mtrx_hazi_2/.vscode/launch.json
mtrx_hazi_2/.vscode/tasks.json
mtrx_hazi_2/bin/Debug/netcoreapp2.0/mtrx_hazi_2.dll
mtrx_hazi_2/bin/Debug/netcoreapp2.0/mtrx_hazi_2.pdb
mtrx_hazi_2/bin/Debug/netcoreapp2.0/mtrx_hazi_2.deps.json
mtrx_hazi_2/bin/Debug/netcoreapp2.0/mtrx_hazi_2.runtimeconfig.json
mtrx_hazi_2/bin/Debug/netcoreapp2.0/mtrx_hazi_2.runtimeconfig.dev.json
mtrx_hazi_2/obj/mtrx_hazi_2.csproj.nuget.cache
mtrx_hazi_2/obj/mtrx_hazi_2.csproj.nuget.g.props
mtrx_hazi_2/obj/mtrx_hazi_2.csproj.nuget.g.targets
mtrx_hazi_2/obj/project.assets.json
mtrx_hazi_2/obj/Debug/netcoreapp2.0/mtrx_hazi_2.dll
mtrx_hazi_2/obj/Debug/netcoreapp2.0/mtrx_hazi_2.AssemblyInfo.cs
mtrx_hazi_2/obj/Debug/netcoreapp2.0/mtrx_hazi_2.AssemblyInfoInputs.cache
mtrx_hazi_2/obj/Debug/netcoreapp2.0/mtrx_hazi_2.csproj.CoreCompileInputs.cache
mtrx_hazi_2/obj/Debug/netcoreapp2.0/mtrx_hazi_2.csproj.FileListAbsolute.txt
nevsor/nevsor.csproj
nevsor/nevsor.txt
nevsor/obj/Debug/netcoreapp2.0/nevsor.AssemblyInfoInputs.cache
nevsor/.vscode/launch.json
nevsor/.vscode/tasks.json
nevsor/bin/Debug/netcoreapp2.0/nevsor.dll
nevsor/bin/Debug/netcoreapp2.0/nevsor.pdb
nevsor/bin/Debug/netcoreapp2.0/nevsor.deps.json
nevsor/bin/Debug/netcoreapp2.0/nevsor.runtimeconfig.json
nevsor/bin/Debug/netcoreapp2.0/nevsor.runtimeconfig.dev.json
nevsor/obj/nevsor.csproj.nuget.cache
nevsor/obj/nevsor.csproj.nuget.g.props
nevsor/obj/nevsor.csproj.nuget.g.targets
nevsor/obj/project.assets.json
nevsor/obj/Debug/netcoreapp2.0/nevsor.dll
nevsor/obj/Debug/netcoreapp2.0/nevsor.pdb
nevsor/obj/Debug/netcoreapp2.0/nevsor.AssemblyInfo.cs
nevsor/obj/Debug/netcoreapp2.0/nevsor.csproj.CoreCompileInputs.cache
nevsor/obj/Debug/netcoreapp2.0/nevsor.csproj.FileListAbsolute.txt
osszefuttatas/osszefuttatas.csproj
osszefuttatas/.vscode/launch.json
osszefuttatas/.vscode/tasks.json
osszefuttatas/bin/Debug/netcoreapp2.0/osszefuttatas.dll
osszefuttatas/bin/Debug/netcoreapp2.0/osszefuttatas.pdb
osszefuttatas/bin/Debug/netcoreapp2.0/osszefuttatas.deps.json
osszefuttatas/bin/Debug/netcoreapp2.0/osszefuttatas.runtimeconfig.json
osszefuttatas/bin/Debug/netcoreapp2.0/osszefuttatas.runtimeconfig.dev.json
osszefuttatas/obj/osszefuttatas.csproj.nuget.cache
osszefuttatas/obj/osszefuttatas.csproj.nuget.g.props
osszefuttatas/obj/osszefuttatas.csproj.nuget.g.targets
osszefuttatas/obj/project.assets.json
osszefuttatas/obj/Debug/netcoreapp2.0/osszefuttatas.dll
osszefuttatas/obj/Debug/netcoreapp2.0/osszefuttatas.pdb
osszefuttatas/obj/Debug/netcoreapp2.0/osszefuttatas.AssemblyInfo.cs
osszefuttatas/obj/Debug/netcoreapp2.0/osszefuttatas.AssemblyInfoInputs.cache
osszefuttatas/obj/Debug/netcoreapp2.0/osszefuttatas.csproj.CoreCompileInputs.cache
osszefuttatas/obj/Debug/netcoreapp2.0/osszefuttatas.csproj.FileListAbsolute.txt
osztok/kimenet.txt
osztok/osztok.csproj
osztok/.vscode/launch.json
osztok/.vscode/tasks.json
osztok/bin/Debug/netcoreapp2.0/osztok.dll
osztok/bin/Debug/netcoreapp2.0/osztok.pdb
osztok/bin/Debug/netcoreapp2.0/osztok.deps.json
osztok/bin/Debug/netcoreapp2.0/osztok.runtimeconfig.json
osztok/bin/Debug/netcoreapp2.0/osztok.runtimeconfig.dev.json
osztok/obj/osztok.csproj.nuget.cache
osztok/obj/osztok.csproj.nuget.g.props
osztok/obj/osztok.csproj.nuget.g.targets
osztok/obj/project.assets.json
osztok/obj/Debug/netcoreapp2.0/osztok.dll
osztok/obj/Debug/netcoreapp2.0/osztok.pdb
osztok/obj/Debug/netcoreapp2.0/osztok.AssemblyInfo.cs
osztok/obj/Debug/netcoreapp2.0/osztok.AssemblyInfoInputs.cache
osztok/obj/Debug/netcoreapp2.0/osztok.csproj.CoreCompileInputs.cache
osztok/obj/Debug/netcoreapp2.0/osztok.csproj.FileListAbsolute.txt
palindrom/palindrom.csproj
palindrom/.vscode/launch.json
palindrom/.vscode/tasks.json
palindrom/bin/Debug/netcoreapp2.0/palindrom.dll
palindrom/bin/Debug/netcoreapp2.0/palindrom.pdb
palindrom/bin/Debug/netcoreapp2.0/palindrom.deps.json
palindrom/bin/Debug/netcoreapp2.0/palindrom.runtimeconfig.json
palindrom/bin/Debug/netcoreapp2.0/palindrom.runtimeconfig.dev.json
palindrom/obj/palindrom.csproj.nuget.cache
palindrom/obj/palindrom.csproj.nuget.g.props
palindrom/obj/palindrom.csproj.nuget.g.targets
palindrom/obj/project.assets.json
palindrom/obj/Debug/netcoreapp2.0/palindrom.dll
palindrom/obj/Debug/netcoreapp2.0/palindrom.pdb
palindrom/obj/Debug/netcoreapp2.0/palindrom.AssemblyInfo.cs
palindrom/obj/Debug/netcoreapp2.0/palindrom.AssemblyInfoInputs.cache
palindrom/obj/Debug/netcoreapp2.0/palindrom.csproj.CoreCompileInputs.cache
palindrom/obj/Debug/netcoreapp2.0/palindrom.csproj.FileListAbsolute.txt
progtetelek/dec16.csproj
progtetelek/.vscode/launch.json
progtetelek/.vscode/tasks.json
progtetelek/bin/Debug/netcoreapp2.0/dec16.dll
progtetelek/bin/Debug/netcoreapp2.0/dec16.pdb
progtetelek/bin/Debug/netcoreapp2.0/dec16.deps.json
progtetelek/bin/Debug/netcoreapp2.0/dec16.runtimeconfig.json
progtetelek/bin/Debug/netcoreapp2.0/dec16.runtimeconfig.dev.json
progtetelek/obj/dec16.csproj.nuget.cache
progtetelek/obj/dec16.csproj.nuget.g.props
progtetelek/obj/dec16.csproj.nuget.g.targets
progtetelek/obj/project.assets.json
progtetelek/obj/Debug/netcoreapp2.0/dec16.dll
progtetelek/obj/Debug/netcoreapp2.0/dec16.pdb
progtetelek/obj/Debug/netcoreapp2.0/dec16.AssemblyInfo.cs
progtetelek/obj/Debug/netcoreapp2.0/dec16.AssemblyInfoInputs.cache
progtetelek/obj/Debug/netcoreapp2.0/dec16.csproj.CoreCompileInputs.cache
progtetelek/obj/Debug/netcoreapp2.0/dec16.csproj.FileListAbsolute.txt
stringmuveletek/jan20.csproj
stringmuveletek/.vscode/launch.json
stringmuveletek/.vscode/tasks.json
stringmuveletek/bin/Debug/netcoreapp2.0/jan20.dll
stringmuveletek/bin/Debug/netcoreapp2.0/jan20.pdb
stringmuveletek/bin/Debug/netcoreapp2.0/jan20.deps.json
stringmuveletek/bin/Debug/netcoreapp2.0/jan20.runtimeconfig.json
stringmuveletek/bin/Debug/netcoreapp2.0/jan20.runtimeconfig.dev.json
stringmuveletek/obj/jan20.csproj.nuget.cache
stringmuveletek/obj/jan20.csproj.nuget.g.props
stringmuveletek/obj/jan20.csproj.nuget.g.targets
stringmuveletek/obj/project.assets.json
stringmuveletek/obj/Debug/netcoreapp2.0/jan20.dll
stringmuveletek/obj/Debug/netcoreapp2.0/jan20.pdb
stringmuveletek/obj/Debug/netcoreapp2.0/jan20.AssemblyInfo.cs
stringmuveletek/obj/Debug/netcoreapp2.0/jan20.AssemblyInfoInputs.cache
stringmuveletek/obj/Debug/netcoreapp2.0/jan20.csproj.CoreCompileInputs.cache
stringmuveletek/obj/Debug/netcoreapp2.0/jan20.csproj.FileListAbsolute.txt
matrixfeltolt/.vscode/*
matrixfeltolt/bin/*
matrixfeltolt/obj/*
matrixfeltolt/matrixfeltolt.csproj
